<% provide(:title, "About") %>
<h1>About</h1>
  <p>
    The <a href="http://www.railstutorials.org/"><em>Ruby on rails tutorial</em></a>
    is a <a href="http://www.railstutorials.org/book">book</a>.
  </p>
